.social-networks {
    display: inline-flex;
    padding: 5px 20px;
}
.social-networks__item {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.social-networks__item img {
    width: 100%;
    height: 100%;
}

.social-networks__item + .social-networks__item {
    margin: 0px 0px 0px 20px;
}