.logo {
    justify-content: space-between;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    background-color: #FB4547;
    color: #F9F8F9;
    font-size: 0px;
    font-weight: bold;
    cursor: pointer;
}
.logo,
.logo__part {
    display: flex;
    align-items: center;
    transition: .3s;
}
/* hover */
.logo:hover {
    font-size: 18px;
}
.logo:hover .logo__part--left {
    margin: 0px 20px 0px 0px;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
}
.logo:hover .logo__part--right {
    margin: 0px 0px 0px 20px;
    box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.25);
}
/* end hover */
.logo__part {
    flex: 1;
    height: 100%;
    justify-content: center;
    background-color: #F9F8F9;
    color: #2C3C4E;
    font-size: 20px;
}
.logo__part--left {
    border-radius: 10px 0px 0px 10px;
    margin: 0px 1px 0px 0px;
}
.logo__part--right {
    border-radius: 0px 10px 10px 0px;
    margin: 0px 0px 0px 1px;
}