.header {
    background-color: #2C3C4E;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
}
.header__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header__logo,
.header__now-prof {
    max-width: calc(100% / 4);
}