.header {
    background-color: #2C3C4E;
}
.header__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header__logo,
.header__now-prof {
    max-width: calc(100% / 4);
}