.response  {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.response img {
	width: 100%;
	height: auto;
}
.response__item {
	width: 20px;
	cursor: pointer;
}
.response__item + .response__item {
	margin: 0px 0px 0px 10px;
} 