@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.app {
    min-height: 100vh;
    background-color: #f9f8f9;
    font-family: "Roboto", sans-serif;
    padding: 60px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    max-width: 954px;
    margin: 0 auto;
}

.item--box-shadow {
    box-shadow: 0px 0px 4px rgba(44, 60, 78, 0.25);
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.main {
    display: flex;
    align-items: top;
    padding: 20px 0px;
}

.aside {
    margin: 0px 20px 0px 0px;
    flex: 0 0 calc(100% / 4);
}

.profile {
    max-width: calc(100% - (100% / 4) - 20px);
}